<?xml version="1.0"?>

<robot xmlns:xacro="http://www.ros.org/wiki/xacro"
       name="$(arg name)">

  <xacro:arg name="name" default="robot1"/>
  <xacro:arg name="ur_type" default="ur10e"/>
  <xacro:arg name="tf_prefix" default="robot1_"/>
  <xacro:arg name="ros_namespace" default="robot1"/>
  <xacro:arg name="controllers_file" default=""/>

  <xacro:arg
    name="joint_limit_params"
    default="$(find ur_description)/config/ur10e/joint_limits.yaml"/>

  <xacro:arg
    name="kinematics_params"
    default="$(find ur_description)/config/ur10e/default_kinematics.yaml"/>

  <xacro:arg
    name="physical_params"
    default="$(find ur_description)/config/ur10e/physical_parameters.yaml"/>

  <xacro:arg
    name="visual_params"
    default="$(find ur_description)/config/ur10e/visual_parameters.yaml"/>

  <xacro:arg name="safety_limits" default="true"/>
  <xacro:arg name="safety_pos_margin" default="0.15"/>
  <xacro:arg name="safety_k_position" default="20"/>

  <!-- Official UR robot description -->
  <xacro:include filename="$(find ur_description)/urdf/ur_macro.xacro"/>

  <xacro:ur_robot
    name="$(arg name)"
    tf_prefix="$(arg tf_prefix)"
    joint_limits_parameters_file="$(arg joint_limit_params)"
    kinematics_parameters_file="$(arg kinematics_params)"
    physical_parameters_file="$(arg physical_params)"
    visual_parameters_file="$(arg visual_params)"
    safety_limits="$(arg safety_limits)"
    safety_pos_margin="$(arg safety_pos_margin)"
    safety_k_position="$(arg safety_k_position)"
    force_abs_paths="true">

    <origin xyz="0 0 0" rpy="0 0 0"/>

  </xacro:ur_robot>

  <!-- Official Gazebo / ros2_control wrapper -->
  <xacro:include
    filename="$(find ur_simulation_gz)/urdf/ur_gz.urdf.xacro"/>

  <xacro:ur_gz
    name="$(arg name)"
    ros_namespace="$(arg ros_namespace)"
    tf_prefix="$(arg tf_prefix)"
    controllers_file="$(arg controllers_file)"
  />

</robot>
